annotated-types==0.6.0
appdirs==1.4.4
asgiref==3.7.2
attrs==23.2.1.dev0
autocommand==2.2.2
beautifulsoup4==4.12.3
btrfsutil==6.8.1
CacheControl==0.14.0
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
coverage==7.4.4
cryptography==42.0.6
cssselect==1.2.0
distro==1.9.0
Django==4.2.11
fastjsonschema==2.19.1
filelock==3.13.3
idna==3.6
inflect==7.2.1
jaraco.context==4.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.0
lockfile==0.12.2
lxml==5.1.0
more-itertools==10.2.0
msgpack==1.0.5
numpy==1.26.4
ordered-set==4.1.0
packaging==23.2
pillow==10.3.0
platformdirs==4.2.0
ply==3.11
psutil==5.9.8
pycairo==1.26.0
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
pygdbmi==0.11.0.0
PyGObject==3.48.2
pyserial==3.5
pytz==2024.1
requests==2.31.0
scour==0.38.2
sentry-sdk==2.1.1
setuptools==69.0.3
six==1.16.0
smbus==1.1
soupsieve==2.5
sqlparse==0.4.4
tomli==2.0.1
trove-classifiers==2024.4.10
typeguard==4.2.1
typing_extensions==4.11.0
urllib3==1.26.18
validate-pyproject==0.16
wheel==0.43.0
zstandard==0.22.0
