{% extends "layouts/base.html" %}
{% load static %}


{% block content %}
      <div class="d-flex gap-3 align-items-center mb-3">
        <h1>Questions</h1>
      </div>
      <div class="col-8">

          {% include "layouts/question.html" with item=question %}

          <hr>
          {% for answer in answers %}
            {% include "layouts/answer.html" with item=answer %}
          {% endfor %}

          {% include "layouts/pagination.html" with page_obj=answers %}
        
          <hr class="mt-2 mb-3">

          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
              style="height: 100px"></textarea>
            <label for="floatingTextarea">Leave a comment here</label>
          </div>
          <div class="col-12 mt-2">
            <button class="btn btn-primary" type="submit">Button</button>
          </div>
      </div>
{% endblock %}